<ion-view title="現在地" class="view-tabs-top">
  <div class="tabs tabs-top subheader tabs-virtual">
    <a href class="tab-item disable-user-behavior" ng-class="{active: active_content=='cafe'}" ng-click="setActiveContent('cafe')">カフェ</a>
    <a href class="tab-item disable-user-behavior" ng-class="{active: active_content=='food'}" ng-click="setActiveContent('food')">食事</a>
    <a href class="tab-item disable-user-behavior" ng-class="{active: active_content=='bar'}" ng-click="setActiveContent('bar')">バー</a>
    <a href class="tab-item disable-user-behavior" ng-class="{active: active_content=='shopping'}" ng-click="setActiveContent('shopping')">ショッピング</a>
  </div>

  <div class="has-subheader" id="map"  data-tap-disabled="true">
    <!--<ion-content ng-show="active_content=='cafe'">
      <div>カフェ</div>
    </ion-content>
    <ion-content class="has-subheader" ng-show="active_content=='food'">
      <div>フード</div>
    </ion-content>
    <ion-content class="has-subheader" ng-show="active_content=='bar'">
      <div>バー</div>
    </ion-content>
    <ion-content class="has-subheader" ng-show="active_content=='shopping'">
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>-->
  </div>
</ion-view>